h1 {
    font-family: 'Zilla Slab Highlight', cursive;
    color: #265189;
}

img {
    border-radius: 25px;
    margin-right: 10px;
}

.jumbotron {
    background-image: linear-gradient(120deg, #a7cbfc 0%, #c2e9fb 100%);
}

.image_holder {
    padding-right: 20px;
}

.nunito {
    font-family: 'Nunito', sans-serif;
    color: #333333;
    padding-top: 2%;
}

.psst {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
}

.icons {
    color: #283C6A;
}

.btn-grad {background-image: linear-gradient(to right, #4b6cb7 0%, #182848  51%, #4b6cb7  100%)}
.btn-grad {
    margin-top: 10px;
    margin-right: 10px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   font-family: 'Nunito', sans-serif;
   font-size: 16px;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


.dark {
    border-color: #283C6A;
}

.blue {
    border-color: #a7cbfc;
}

.responsive {
    width: 100%;
    height: auto;
}

.margin-icons {
    margin: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nunito2 {
    font-family: 'Nunito', sans-serif;
    color: #333333;
    font-size: 18px;
    white-space: initial;
}

.margin-top {
    margin-top: 20px;
}

.teal {
    /* font-family: 'Nunito', sans-serif; */
    color: #009999;
    font-weight: 700;
    font-size: 22px;
}

.purple {
    /* font-family: 'Nunito', sans-serif; */
    color: #3d0099;
    font-weight: 700;
    font-size: 22px;
}

.csf1 {
    font-family: 'Zilla Slab Highlight', cursive;
    color: #333333;
    font-weight: 700;
    font-size: 22px;
}

.csf2 {
    font-family: 'Zilla Slab Highlight', cursive;
    color: #de0225;
    font-weight: 700;
    font-size: 22px;
}

.spir {
    font-family: 'Zilla Slab Highlight', cursive;
    color: #0196bb;
    font-weight: 700;
    font-size: 22px;
}

.feedbee1 {
    font-family: 'Zilla Slab Highlight', cursive;
    color: #3F270D;
    font-weight: 700;
    font-size: 22px;
}

.feedbee2 {
    font-family: 'Zilla Slab Highlight', cursive;
    color: #E0A232;
    font-weight: 700;
    font-size: 22px;
}

.eecs {
    font-family: 'Zilla Slab Highlight', cursive;
    color:  #f4d443;
    background-color:#265289;
    width: 91px;
    font-weight: 700;
    font-size: 22px;
}

.lb {
    font-family: 'Nunito', sans-serif;
    color: steelblue;
    font-weight: 700;
    font-size: 22px;
}

.confetti { 
    border-radius: 25px;
    width: 300px;
    height: 400px;
    background-image: url("images/confetti1.JPG"); 
    background-size: 300px 400px;
} 

.confetti:hover { 
    background-image: url("images/confetti2.JPG"); 
}   

#eecs376:hover {
    content: url('images/3763.jpg');
    width: 100%;
    height: auto;
}

#csf1:hover {
    content: url('images/csf2.jpg');
    width: 100%;
    height: auto;
}

#csf2:hover {
    content: url('images/csf4.png');
    width: 100%;
    height: auto;
}

#spir1:hover {
    content: url('images/spir2.png');
    width: 100%;
    height: auto;
}

#spir2:hover {
    content: url('images/spir4.png');
    width: 100%;
    height: auto;
}

#covid:hover {
    content: url('images/covid2.png');
    width: 100%;
    height: auto;
}

#vpn:hover {
    content: url('images/vpn2.png');
    width: 100%;
    height: auto;
}

#evolve:hover {
    content: url('images/evolve2.jpg');
    width: 100%;
    height: auto;
}

#evolve2:hover {
    content: url('images/evolve4.png');
    width: 100%;
    height: auto;
}

#feedbee1:hover {
    content: url('images/feedbeesoundwave2.png');
    width: 100%;
    height: auto;
}
